.nav-wrapper {
  background-color: #003069;
}
.btn {
  background-color: #c62828 !important;
}

.row {
  width: 100%;
}

.caption {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

h1, h3 {
  /* font-family: 'Bitter', serif; */
  font-family: "Cormorant SC";
  font-weight: 5000;
  color: white;
}

.logo {
  margin-top: -175px;
}

.header {
  background-color: #00b0ff;
  padding: 10px;
}

h4 {
  color: white;
}

h6 {
  padding: 10px;
}

a {
  padding: 10px;
}

#save {
  background-color: #4caf50 !important;
}

#add-note {
  margin-right: 25px;
}

.btn-flat {
  background-color: #c62828 !important;
  color: white;
}